# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Django
*.log
local_settings.py
media/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env
.env.*
